.card {
    height: 60vh;
    width: 60%;
    border: 1px solid darkblue;
    border-radius: 50px;
    box-shadow: 0px 0px 50px 1px gray;
    position: relative;
}

.card::before {    
    content: "";
    border-radius: 50px;
    background-image: url('../assets/img/3840x2160-575993-Digital-Art.png');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.card > div {
    position: relative;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container > * {
    flex: 1 auto;
}

.weatherInfo {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: stretch;
}

.weatherInfo > * {
    flex: 1 auto;
    border: 1px solid red;
}

.leftCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}





.sunPng {
    width:300px;
    height:auto;
}
